@page "/"

<PageTitle>Home - Azure Namer</PageTitle>

<div class="container-xxl">
    <div class="bg-light p-5 rounded">
        <h1>
            <img src="/Azure.svg"
                 alt="Azure Resource Namer"
                 class="me-1"
                 height="70" />
            Azure Resource Namer
        </h1>
        <p class="lead">
            A simple name generator for Azure Resources.
        </p>
        <p>
            <a href="/generate" class="btn btn-primary btn-lg">Generate Name &raquo;</a>
        </p>
    </div>

</div>
