@page "/organizations/{id:int}"
@inherits OrganizationBase

@using AzureNamer.Client.Pages.Organizations.Components

<PageTitle>Organization @Organization?.Name - Edit - AzureNamer</PageTitle>

<OrganizationContainer Id="@Id">
    <div class="p-3">
        <OrganizationForm />
    </div>
</OrganizationContainer>

